<div class="app-form" [@slideToLeft]>
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-toolbar>
      <button type="button" mat-flat-button color="warn" (click)="goBack()">
        <mat-icon>undo</mat-icon>
        <span>返回</span>
      </button>
      <span>&nbsp;</span>
      <button type="submit" mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        <span>保存</span>
      </button>
      <span class="fill-space"></span>
      <button mat-button disabled>
        <mat-icon color="primary">place</mat-icon>
        <span class="ta">修改用户</span>
      </button>
    </mat-toolbar>
    <mat-grid-list [cols]="cols" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="用户名" formControlName="username" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="姓名" formControlName="name" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="身份证号" formControlName="card">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="部门" formControlName="departmentId" required>
            <mat-option *ngFor="let department of departments" [value]="department.id">
              <span *ngFor="let _ of department.order.substr(department.orderTopSize).split('')">&nbsp;&nbsp;</span>
              <span>{{ department.name }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="编号" formControlName="code">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="职务" formControlName="title">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="手机" formControlName="phone">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="邮箱" formControlName="email">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="地址" formControlName="address">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="生日" [matDatepicker]="birthdayPicker" formControlName="birthday" [readonly]="true"
            (click)="birthdayPicker.open()">
          <mat-datepicker-toggle matSuffix [for]="birthdayPicker">
            <mat-icon matDatepickerToggleIcon>today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #birthdayPicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>&nbsp;&nbsp;</span>
        <span><b>性别</b><b>：</b></span>
        <mat-radio-group formControlName="gender">
          <mat-radio-button [value]="1">男</mat-radio-button>
          <mat-radio-button [value]="2">女</mat-radio-button>
        </mat-radio-group>
        <span class="fill-space"></span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>&nbsp;&nbsp;</span>
        <span><b>状态</b><b>：</b></span>
        <mat-slide-toggle formControlName="enable" #statusToggle>
          <span>{{ statusToggle.checked ? '启用' : '禁用' }}</span>
        </mat-slide-toggle>
        <span class="fill-space"></span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>&nbsp;&nbsp;</span>
        <span><b>创建时间</b><b>：</b></span>
        <span *ngIf="!!user">{{ user.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        <span class="fill-space"></span>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>&nbsp;&nbsp;</span>
        <span><b>更新时间</b><b>：</b></span>
        <span *ngIf="!!user">{{ user.updateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        <span class="fill-space"></span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="cols">
        <mat-form-field>
          <input matInput placeholder="备注" formControlName="note">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
