<mat-sidenav-container class="app-container" style="background: url(assets/image/bg.jpg);">
  <mat-sidenav-content class="app-content">
    <mat-card class="app-card" [@slideToBottom]>
      <mat-card-title>
        <span>登录</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span>{{ title }}</span>
      </mat-card-subtitle>
      <mat-card-content>
        <form class="app-form" [formGroup]="form" (ngSubmit)="submitForm()">
          <mat-form-field appearance="outline" color="primary">
            <input matInput placeholder="用户名" formControlName="username" required>
            <mat-icon matPrefix>person</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput type="password" autocomplete="off" placeholder="密码" formControlName="password" required>
            <mat-icon matPrefix>lock</mat-icon>
          </mat-form-field>
          <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">
            <span>登录</span>
          </button>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <mat-toolbar class="app-footer" color="accent">
          <span>{{ copyright }}</span>
          <span class="fill-space"></span>
          <span>{{ currentTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        </mat-toolbar>
      </mat-card-footer>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
