<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox [checked]="selection.isSelected(node)" (change)="leafItemSelectionToggle(node);">
      <div class="tree-node" [matTooltip]="node.note">
        <mat-icon [color]="node.color || 'primary'" *ngIf="!!node.icon">{{ node.icon }}</mat-icon>
        <span>&nbsp;</span>
        <span>{{ node.name }}</span>
      </div>
    </mat-checkbox>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
      (change)="itemSelectionToggle(node)">
      <div class="tree-node" [matTooltip]="node.note">
        <mat-icon [color]="node.color || 'primary'" *ngIf="!!node.icon">{{ node.icon }}</mat-icon>
        <span>&nbsp;</span>
        <span>{{ node.name }}</span>
      </div>
    </mat-checkbox>
  </mat-tree-node>
</mat-tree>
