@import '~@angular/material/theming';

@include mat-core();

.deeppurple-amber {

  $primary: mat-palette($mat-deep-purple);
  $accent: mat-palette($mat-amber, A200, A100, A400);

  $theme: mat-light-theme($primary, $accent);

  @include angular-material-theme($theme);

  // 文字颜色

  .tp {
    color: mat-color($primary);
  }

  .ta {
    color: mat-color($accent);
  }

  .tw {
    color: mat-color(map-get($theme, warn));
  }

  // 背景颜色

  .bp {
    background: mat-color($primary);
  }

  .ba {
    background: mat-color($accent);
  }

  .bw {
    background: mat-color(map-get($theme, warn));
  }

}
