@import '~@angular/material/theming';

@include mat-core();

.purple-green {

  $primary: mat-palette($mat-purple, 700, 500, 800);
  $accent: mat-palette($mat-green, A200, A100, A400);

  $theme: mat-dark-theme($primary, $accent);

  @include angular-material-theme($theme);

  // 文字颜色

  .tp {
    color: mat-color($primary);
  }

  .ta {
    color: mat-color($accent);
  }

  .tw {
    color: mat-color(map-get($theme, warn));
  }

  // 背景颜色

  .bp {
    background: mat-color($primary);
  }

  .ba {
    background: mat-color($accent);
  }

  .bw {
    background: mat-color(map-get($theme, warn));
  }

}
