<div class="app-list" [@slideToTop]>
  <mat-toolbar>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field color="primary" floatLabel="never">
        <input matInput placeholder="关键字" formControlName="search">
      </mat-form-field>
      <span>&nbsp;</span>
      <mat-form-field [style.width.px]="130" floatLabel="never">
        <input matInput placeholder="开始日期" [matDatepicker]="startTimePicker" formControlName="startTime"
          [readonly]="true" (click)="startTimePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="startTimePicker">
          <mat-icon matDatepickerToggleIcon>today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #startTimePicker></mat-datepicker>
      </mat-form-field>
      <span>&nbsp;</span>
      <mat-form-field [style.width.px]="130" floatLabel="never">
        <input matInput placeholder="结束日期" [matDatepicker]="endTimePicker" formControlName="endTime" [readonly]="true"
          (click)="endTimePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="endTimePicker">
          <mat-icon matDatepickerToggleIcon>today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #endTimePicker></mat-datepicker>
      </mat-form-field>
      <span>&nbsp;</span>
      <button type="submit" mat-flat-button color="primary">
        <mat-icon>search</mat-icon>
        <span>查询</span>
      </button>
      <span>&nbsp;</span>
      <button type="button" mat-flat-button color="accent" (click)="goStat()">
        <mat-icon>multiline_chart</mat-icon>
        <span>图表</span>
      </button>
      <span>&nbsp;</span>
      <button type="button" mat-flat-button color="warn" (click)="resetForm()">
        <mat-icon>clear_all</mat-icon>
        <span>重置</span>
      </button>
    </form>
    <span class="fill-space"></span>
    <button mat-button disabled>
      <mat-icon color="primary">place</mat-icon>
      <span class="ta">访问日志</span>
    </button>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>
        <span>序号</span>
      </th>
      <td mat-cell *matCellDef="let index = index">
        <span>{{ index + 1 }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="accessTime">
      <th mat-header-cell *matHeaderCellDef>
        <span>访问时间</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.accessTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="accessIP">
      <th mat-header-cell *matHeaderCellDef>
        <span>访问IP</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.accessIP }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="accessUser">
      <th mat-header-cell *matHeaderCellDef>
        <span>访问用户</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.accessUser }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="accessURI">
      <th mat-header-cell *matHeaderCellDef>
        <span>访问URI</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.accessURI }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <span>操作</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button type="button" mat-flat-button color="primary" (click)="goInfo(element.id)">
          <span>查看</span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="['select', 'index', 'accessTime', 'accessIP', 'accessUser', 'accessURI', 'actions']">
    </tr>
    <tr mat-row
      *matRowDef="let row; columns: ['select', 'index', 'accessTime', 'accessIP', 'accessUser', 'accessURI', 'actions'];">
    </tr>
  </table>
  <mat-paginator [length]="totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons (page)="page($event)"></mat-paginator>
</div>
