<div class="app-info" [@slideToLeft]>
  <mat-toolbar>
    <button type="button" mat-flat-button color="warn" (click)="goBack()">
      <mat-icon>undo</mat-icon>
      <span>返回</span>
    </button>
    <span>&nbsp;</span>
    <button type="button" mat-flat-button color="primary" (click)="goSave()">
      <mat-icon>save</mat-icon>
      <span>保存</span>
    </button>
    <span class="fill-space"></span>
    <button mat-button disabled>
      <mat-icon color="primary">place</mat-icon>
      <span class="ta">分配用户</span>
    </button>
  </mat-toolbar>
  <app-tree></app-tree>
</div>
